.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1;
}

.footer {
  padding: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-top: 1px solid #eaeaea;
}

.columnLayout {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
}

.homeIcon {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-family: MilkyCoffee;
}

.navbar {
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eaeaea;
}


.title {
  margin: 4rem;
  line-height: 1.15;
  font-size: 4rem;
  font-family: MilkyCoffee;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
}


/*   color: #0070f3; */
/*   border-color: #0070f3; */


.logo {
  height: 1em;
  margin-left: 0.5rem;
}

/* @media (max-width: 600px) { */
/*   .grid { */
/*     width: 100%; */
/*     flex-direction: column; */
/*   } */
/* } */

.form {
  width:400px;
  height:400px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
  color:#333;
}

.form textarea,
.form input {
  width:100%;
  padding:15px;
  margin:5px;
  border-radius:1px;
  border:1px solid #ccc;
  font-family:inherit;
}

.form button {
  width: 100%;
  padding:15px;
  margin:5px;
  border-radius:1px;
  border:1px solid #ccc;
  font-family:inherit;
}

.topRightIcons {
  width: 4em;
  height: 4em;
}

.links {
  cursor: pointer;
}

.bookDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleDetails {
  font-size: 4rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 20px;
    padding: 20px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}

.card_title {
    grid-row: 3/4;
}

.card_author {
    grid-row: 1/2;
}

